{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <div class="navbar navbar-inverse navbar-static-top">
  	<div class="navbar-inner">
  	  <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="fui-menu-24"></span>
        </a>
  	  	<div class="nav-collapse collapse navbar-responsive-collapse" style="height:0;">
  	      {% include navigation.html %}
  	    </div>
  	  </div>
  	</div>
  </div>
  <div id="js-ca"><i class="fa fa-comments-o fa-2x"></i><span id="js-ca-status">Chat loading</span>
  </div>


  <div class="container" id="main">
      <div class="row-fluid">
        <div id="content">
          {{ content | expand_urls: root_url }}
        </div>
      </div>
      <div class="row-fluid">
        <footer class="footer-page" role="contentinfo">
          {% include footer.html %}
        </footer>
      </div>
  </div>

  <script type="text/javascript">
    //var sound = new Howl({  urls: ['http://www.soundjay.com/button/button-37.mp3']}).play();
    var socketio = io.connect("ss-chat-p.herokuapp.com");
    socketio.on("message_to_client", function(data) {

        if(data["isAdminOnline"])
        {
            $("#js-ca").html("<a href='/chat'><i class='fa fa-comments-o fa-2x'></i> <span id='js-ca-status'>Chat Online</span></a>");
        }
        else
        {
            $("#js-ca").html("<i class='fa fa-comments-o fa-2x'></i> <span id='js-ca-status'>Chat Offline</span>");
        }
    });

</script>

  {% include after_footer.html %}
</body>
</html>
