#js-ca
{
  width: 160px;
  background-color: #f54;
  border-radius: 0px 0px 10px 10px;
  right: 20px;
  position: absolute;
  margin: 0px 40px 25px 25px;
  padding: 0px 20px;
  z-index: 100;

  #js-ca-status
  {
    margin-left: 10px;
  }
  
  a
  {
    z-index: 1000;
    color: #FFF;
    display: block;
    height: 100%;
  }
}

#message_input
{
  width: 100%;
}

#js-cs {

  @import url(http://weloveiconfonts.com/api/?family=typicons);


  .module {
    width: 300px;
    margin: 20px auto;
  }
  #discussion::-webkit-scrollbar { 
    display: none; 
  }

  #discussion {
    overflow-y: scroll;
    height: 350px;
    list-style: none;
    margin: 0;
    padding: 0 0 30px 0; // finality

    li {
      padding: 0.5rem;
      overflow: hidden;
      display: flex;
    }
    .avatar {
      width: 40px; // stronger than %
      // could set height, but gonna bottom-align instead
      position: relative; // for triangle
    }
  

  .other {

    .avatar {
      padding: 0px 50px 0px 0px;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border: 5px solid white;
        border-left-color: transparent;
        border-bottom-color: transparent;
      }
    }

    .messages
    {
      border-radius: 0px 2px 2px 2px;
    }
  }
  }

  .self {
    border-radius: 0px 2px 2px 2px;
    justify-content: flex-end;
    align-items: flex-end;
    .messages {
      order: 1;
      border-bottom-right-radius: 0; // weird shadow fix
    }
    .avatar {
      position:relative;
      span {
         position: absolute;
         bottom: 0;
         right: 0;
      }
      padding: 0px 0px 0px 50px;
      order: 2;
      padding: 20px;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border: 5px solid white;
        border-right-color: transparent;
        border-top-color: transparent;
        box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
      }
    }
  }

  .messages {
    color: #000;
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(black, 0.2);
    p {
      font-size: 0.8rem;
      margin: 0 0 0.2rem 0;
    }
    time {
      font-size: 0.7rem;
      color: #fff;
    }
  }

  @keyframes pulse {
    from { opacity: 0; }
    to { opacity: 0.5; }
  }
}